@import "mixin";

/*--------------------------------------------------------------
    initial set
--------------------------------------------------------------*/
* {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
    Layout
--------------------------------------------------------------*/
.ams-form-table {
  &__th,
  &__td {
    display: block;
    border: none;
    padding: 0 15px;
    @include mq-up(lg) {
      display: table-cell;
      padding: 10px;
    }
  }
  &__th {
    text-align: center;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    @include mq-up(lg) {
      text-align: left;
    }
  }
  &__td {
    margin-bottom: 15px;
  }
  &_5-5 {
    .ams-form-table__th,
    .ams-form-table__td {
      @include mq-up(lg) {
        width: 50%;
      }
    }
  }
  &_4-6 {
    .ams-form-table__th {
      @include mq-up(lg) {
        width: 40%;
      }
    }
    .ams-form-table__td {
      @include mq-up(lg) {
        width: 60%;
      }
    }
  }
  &_4-6 {
    .ams-form-table__th {
      @include mq-up(lg) {
        width: 40%;
      }
    }
    .ams-form-table__td {
      @include mq-up(lg) {
        width: 60%;
      }
    }
  }
  &_3-7 {
    .ams-form-table__th {
      @include mq-up(lg) {
        width: 30%;
      }
    }
    .ams-form-table__td {
      @include mq-up(lg) {
        width: 70%;
      }
    }
  }
  &_2-8 {
    .ams-form-table__th {
      @include mq-up(lg) {
        width: 20%;
      }
    }
    .ams-form-table__td {
      @include mq-up(lg) {
        width: 80%;
      }
    }
  }
  &_vertical {
    .ams-form-table__th,
    .ams-form-table__td {
      @include mq-up(lg) {
        display: block;
      }
    }
  }
  &_stripe {
    tr:nth-child(2n) {
      background: #f4f4f4;
    }
  }
}

.ams-form-group {
  display: flex;
  flex-direction: column;
  @include mq-up(md) {
    flex-direction: row;
  }
  input,
  textarea,
  select {
    margin-bottom: 10px;
    @include mq-up(md) {
      margin-bottom: 0;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* confirm view
------------------------------*/
.mw_wp_form_confirm {
  .ams-form-table {
    &__th {
      background: #f4f4f4;
    }
    &__td {
      text-align: center;
      font-weight: bold;
      padding: 15px;
      line-height: 1.2;
    }
  }
}

/*--------------------------------------------------------------
    form control
--------------------------------------------------------------*/
.ams-form-control {
  width: 100%;
  //font-size: 14px;
  padding: .5em;
  border: 1px solid #ccc;
  border-radius: 0;
  //appearance: none;
  font-size: 16px;
  &[type="file"] {
    padding: 10px 0;
    border: none;
    width: 90%;
  }

  &[type="range"] {
    border: none;
    padding: 15px 0;
    //background: #f4f4f4;
    &::-webkit-slider-runnable-track {
      cursor: pointer;
      background: #ccc;
      border-radius: 2px;
      height: 4px;
      width: 100%;
    }

    &::-webkit-slider-thumb {
      //background: #111;
      //border: none;
      //border-radius: 3px;
      //cursor: pointer;
      //height: 20px;
      margin-top: -5px;
      //width: 20px;
    }
  }

  &[type="checkbox"],
  &[type="radio"] {
    width: auto;
  }
}

select.ams-form-control {
  background: #fff;
  border-radius: 0;
  @include mq-up(lg) {
    appearance: none;
  }
}

.mwform-tel-field {
  input:nth-of-type(1) {
    width: 25%;
  }
  input:nth-of-type(2),
  input:nth-of-type(3) {
    width: 31%;
  }
  @include mq-up(lg) {
    input:nth-of-type(1),
    input:nth-of-type(2),
    input:nth-of-type(3) {
      width: auto;
    }
  }
}

/*--------------------------------------------------------------
    label
--------------------------------------------------------------*/
.ams-label {
  width: 100%;
}

.ams-required {
  display: inline-block;
  color: red;
  margin-left: 10px;
  font-size: 12px;
}

/*--------------------------------------------------------------
    button
--------------------------------------------------------------*/
.ams-button-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include mq-up(lg) {
    flex-direction: row;
    .ams-button {
      margin: 15px;
    }
  }
  &_left {
    @include mq-up(lg) {
      justify-content: flex-start;
    }
    .ams-button {
      @include mq-up(lg) {
        margin: 0 15px 15px 0;
      }
    }
  }
  &_right {
    @include mq-up(lg) {
      justify-content: flex-end;
    }
    .ams-button {
      @include mq-up(lg) {
        margin: 0 0 15px 15px;
      }
    }
  }
}

.ams-button {
  margin: 15px 0;
  padding: 18px 20px;
  border: none;
  background-color: #555;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  border-radius: 0;
  &_fullwidth {
    display: block;
    width: 100%;
    margin: 15px 0;
  }
  &_rounded {
    border-radius: 7px;
  }
}

/*--------------------------------------------------------------
    utility
--------------------------------------------------------------*/
@import "utility";